{% extends "base.html" %}
{% load extratags %}
{% block title %}{{SERVICE_NAME|escape}} - Make Payment{% endblock %}
{% block content %}

<h3>Make Payment</h3>
{% include "info.html" %}
{% if paymentUnits %}
<form action="/paymentForm/" name="pay" method="post">
  <table>
    <input type="hidden" name="pmtId" value={% if pmtId %}"{{pmtId}}"{% else %}"None"{% endif %}/>
    <tr><td>Recipient's Email</td><td><input type="text" name="email" value="{{email|escape}}"/></td></tr>
    <tr><td>Payment Amount</td><td><input type="text" name="amount" value="{{amount|trimZeroes|escape}}"/></td></tr>
    <tr><td>Payment Units</td>
      <td><select name="currency">
        {% for unit in paymentUnits %}
        <option value="{{unit.short_name|escape}}"{% ifequal unit.id selectedUnitId %} selected{% endifequal %}>
          {{unit.long_name|escape}}</option>
        {% endfor %}
      </select></td></tr>
    <tr><td>Description<br/>(no HTML)</td>
      <td><textarea name="description" rows="2" cols="40" wrap="hard">{% if description %}{{description|escape}}{% endif %}</textarea></td>
    <tr><td>&nbsp;</td><td><input class="button" type="submit" value="Submit"/></td></tr>
  </table>
</form>
{% if pmtId %}
<p><a href="/payments/{{pmtId}}/cancel/">Click here to cancel this payment</a></p>
{% endif %}
{% else %}
<p>You must have some connections before you are able to make a payment.</p>
<p><a href="/accounts/">Click here to make new connections.</a></p>
{% endif %}
<p><a href="/summary/">Back to Summary</a></p>

{% endblock %}
